@tailwind base;
@tailwind components;
@tailwind utilities;


.image-center {
    margin-left: auto;
    margin-right: auto;
}

.section-image-box {
    border: 14px;
    padding: 10px;
    cursor: pointer;
}

.detail-box {
    cursor: pointer;
    display: block;
    min-height: 150px;
    padding: 0.7rem 0.5rem;
    border-radius: 6px;
    border: 0.5px solid #ccc;
    box-shadow: 0.2px 3px 2.5px rgb(100 100 100 / 50%);
    margin: 8px 6px;
}

.detail-box:hover {
    box-shadow: 0.2px 3px 2.5px rgb(100 100 100 / 100%);
}

.span-box {
    display: flex;
    flex-wrap: wrap;
}

.abilities-tag {
    margin: 2px 2px;
    padding: 4px 8px;
    color: #004e89;
    background-color: #e9e9e9;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 8px;
}

.move-tag {
    margin: 2px 2px;
    padding: 4px 8px;
    color: #004e89;
    background-color: #e9e9e9;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 8px;
}

.types-tag {
    margin: 2px 2px;
    padding: 4px 8px;
    color: #004e89;
    background-color: #e9e9e9;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 8px;
}